/* App.css */
.App {
  font-family: 'Arial', sans-serif;
}

.App-header {
  text-align: center;
  background-color: #3e2723;
  color: #f4f1e1;
  padding: 20px;
}

.App-header h1 {
  font-size: 2.5rem;
}

.App-header p {
  font-size: 1.2rem;
}

.App-main {
  padding: 20px;
  background-color: #f4f1e1;
}

.options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.option-card {
  background-color: #9e7d5e;
  color: #f4f1e1;
  padding: 20px;
  width: 250px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.option-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.option-card p {
  font-size: 1rem;
  line-height: 1.4;
}

/* Hover effect */
.option-card:hover {
  background-color: #f4f1e1;
  color: #9e7d5e;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.option-card:hover h2 {
  color: #9e7d5e;
}

.option-card:hover p {
  color: #3e2723;
}
